.HeroSection{

    height: 100vh;
    position: relative;
    max-width: 100%;
    /* background-image: url('../assets/images/home.gif'); 
    opacity: 85%; */
        
    background-image: url('../assets/images/tools.jpg');

    
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    /* padding: 2rem; */

}

.header-line{
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    position: relative;
    z-index: inherit;
    margin-bottom: 2rem;
    margin-top: 0;
    margin-left: 0;

}

.header-line .header-text{
    display: flex;
}

.search_bar{
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    background-color: white;
    opacity: 90%;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 10px;
    margin: 2rem 0rem 0rem 0rem;
    position: relative; 
    z-index: inherit; 
}

.header-content{
    position: relative;
    z-index: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .responsive_fontsize64{
    text-shadow: -2px 1 rgb(242, 242, 242), 0 1px rgb(203, 57, 57), 1px 0 rgb(252, 252, 252), 0 -1px rgb(184, 184, 184);
    
    /* border: 2px solid #ff4742; */
    /* padding: 10px;
    background-color: rgb(247, 247, 247);
    background-blend-mode:color-burn; */
 }
    

/* .PropertyFilter{
    position: absolute;
    z-index: inherit;
} */
