.logout{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background-color: #fd5c63 ;
    color: #fff;
    
}

.logout:hover{
    border:2px solid black;
    color: black;

    background-color: white ;

}